ErrorDocument 403 /404.html
ErrorDocument 404 /404.html

DirectoryIndex page60127335.html

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} /robots.txt
RewriteCond "%{DOCUMENT_ROOT}/robots_%{HTTP_HOST}.txt" -f
RewriteRule ^(.*)$ robots_%{HTTP_HOST}.txt [NC,L]
RewriteRule ^apartment$ page60128053.html [NC]
RewriteRule ^apartment/$ page60128053.html [NC]

RewriteRule ^apartment/user_manual$ page60129407.html [NC]
RewriteRule ^apartment/user_manual/$ page60129407.html [NC]


